.new-webpage-format-b {
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
}

.original-project-form-b {
    display: flex;
    margin: auto;
    width: 71.428571vw;
    height: 71.428571vh;
    background-color: white;
    border-style: solid;
    border-color:rgb(158, 158, 158);
    border-width: 1px;
}

.original-form-two-b {
    display: flex;
    margin: auto;
    width: 42.857143vw;
    height: 42.857143vh;
    background-color: black;
}

.original-form-one-b {
    display: flex;
    margin: auto;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: white;
}

.new-webpage-format-two-b {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.original-project-form-two-b {
    display: flex;
    margin: auto;
    width: 71.428571vw;
    height: 71.428571vh;
    background-color: white;
    border-style: solid;
    border-color:rgb(158, 158, 158);
    border-width: 1px;
}

.original-form-two-two-b {
    display: flex;
    margin: auto;
    width: 42.857143vw;
    height: 42.857143vh;
    background-color: white;
    border-style: solid;
    border-color:lightgrey;
    border-width: 1px;
}

.original-form-one-two-b {
    display: flex;
    margin: auto;
    width: 14.285714vw;
    height: 14.285714vh;
    background-color: black;
}

.new-webpage-format-lines {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.original-project-form-lines {
    display: flex;
    margin: auto;
    width: 71.428571vw;
    height: 71.428571vh;
    background-color: white;
    border-style: solid;
    border-color:rgb(158, 158, 158);
    border-width: 1px;
}

.original-form-two-lines {
    display: flex;
    margin: auto;
    width: 42.857143vw;
    height: 42.857143vh;
    background-color: white;
}

.original-form-two-lines2 {
    background-color: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.backgroundlines {
    background-color: black;
    width: 1.86335404vw;
    height: 42.857143vh;
    margin: auto;
    display: flex;
}

.backgroundlines-left {
    background-color: black;
    width: 1.86335404vw;
    height: 42.857143vh;
    margin: auto;
    margin-left: 0;
    display: flex;
}

.backgroundlines-right {
    background-color: black;
    width: 1.86335404vw;
    height: 42.857143vh;
    margin: auto;
    margin-right: 0;
    display: flex;
}

.original-form-two-b-lines {
    display: flex;
    margin: auto;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    width: 14.285714vw;
    height: 14.285714vh;
    position: relative;
    top: -28.17384281vh;
    transform: rotate(90deg);
}

.firstwhitelines1 {
    display:flex;
    transform: rotate(-20deg);
    background-color: white;
    width: 1.86335404vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.firstwhitelines2 {
      display:flex;
    transform: rotate(-10deg);
    background-color: white;
    width: 1.86335404vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.firstwhitelines3 {
    display:flex;
    transform: rotate(0deg);
    background-color: white;
    width: 1.86335404vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.firstwhitelines4 {
    display:flex;
    transform: rotate(10deg);
    background-color: white;
    width: 1.86335404vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.firstwhitelines5 {
    display:flex;
    transform: rotate(20deg);
    background-color: white;
    width: 1.86335404vw;
    height: 17vh;
    margin: auto;
    margin-top: -1vh;
}

.backgroundlines-container {
    display: flex;
    background-color: #fff;
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
}

.toplines2-container {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    width: 42.857143vw;
    height: 42.857143vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    top: -57.142857vh;
}

.backgroundlines-left2 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-25deg);
    margin-left: 0;
    margin-top: -1vh;

}

.backgroundlines2-1 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-20deg);
    margin-top: -1vh;
}

.backgroundlines2-2 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-15deg);
    margin-top: -1vh;

}

.backgroundlines2-3 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-10deg);
    margin-top: -1vh;

}

.backgroundlines-24 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-5deg);
    margin-top: -1vh;

}

.backgroundlines2-5 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(-2.5deg);
    margin-top: -1vh;

}

.backgroundlines2-10 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(0deg);
    margin-top: -1vh;

}

.backgroundlines2-11 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(2.5deg);
    margin-top: -1vh;

}

.backgroundlines2-6 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(5deg);
    margin-top: -1vh;

}

.backgroundlines2-7 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(10deg);
    margin-top: -1vh;

}

.backgroundlines2-8 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(15deg);
    margin-top: -1vh;

}

.backgroundlines2-9 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(20deg);
    margin-top: -1vh;

}

.backgroundlines-right2 {
    background-color: black;
    width: 1.86335404vw;
    height: 57.142857vh;
    margin: auto;
    display: flex;
    transform:rotate(25deg);
    margin-right: 0;
    margin-top: -1vh;

}

.lineslol {
    display: flex;
    margin: auto;
    width: 71.428571vw;
    height: 71.428571vh;
    border: 1px solid rgb(100, 100, 100);
    object-fit: fill;
}